{% extends 'base.html.twig' %}

{% block title %}modifier une agence{% endblock %}

{% block body %}
<div class="container mx-2 mt-5 ">
    <h1 class="pt-20">modifier une agence</h1>
    <a href="{{ path('admin') }}" >page Admin</a>
   
    </div>
{% endblock %}
